.container {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
}

.windsortech {
  color: #808080;
}

.windsortech a {
    color:inherit;
    text-decoration: none;
}

#well {
  border-color: #a3a375;
  border-width: 1.5px;
}

#city {
  text-transform: uppercase;
  font-weight: bold;
}

.playnow-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-success, .btn-warning {
  width: 30%;
  height: 75px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: block;
  margin: auto;
}

.playnow-title {
  font-weight: bold;
}

.bg-primary {
  width: 40%;
  margin: auto;
}

#letters-guessed {
    font-weight: bold;
    font-size: 17px;
}

.bg-info {
  width: 29%;
}

#guesses {
    font-weight: bold;
}

.bg-secondary {
  width: 9.5%;
  margin-left: 5px;
}

#home-score {
  margin-top: 10px;
  height: 75px;
}

.bg-success {
  width: 10%;
}

.bg-danger {
  width: 10%;
  margin-left: 5px; 
}

.btn-outline-primary {
  border-width: 2px;
  font-weight: bold;
}

#picture {
  margin-bottom: 10px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 480px) {

.container {
    width: 99%
}

#picture {
  width: 95%;
}

.bg-primary {
  width: 100%
}

.bg-info {
  width: 65%
}

.bg-secondary {
  width: 30%
}

.bg-success {
  width: 27%
}

.bg-danger {
  width: 27%
}

.btn-start, .btn-warning { 
  width: 80%;
}

.btn-outline-primary {
  width: 15%;
}

}


@media only screen and (min-width: 481px) and (max-width: 853px) {

.container {
    width: 95%
}

#picture {
  width: 75%;
}

.bg-primary {
  width: 75%
}

.bg-info {
  width: 60%
}

.bg-secondary {
  width: 25%
}

.bg-success {
  width: 27%
}

.bg-danger {
  width: 27%
}

.btn-start, .btn-warning { 
  width: 70%;
}



}